.modelo{
    border-radius: 10px;
    border-color: rgba(8, 8, 8, 0.938);
    font-weight: bold;
    font-size: 20px;
    padding: 3px 20px 3px 20px;
    margin-right: 66px;
    margin-left: 2px;
    margin-top: 30px; 
}

.default{
    background-color: rgba(211, 211, 211, 0.938);
}

.dark{
    background-color: rgba(8, 8, 8, 0.938);
    color: orangered;
}
.cadastrar{
    background-color: rgba(8, 8, 8, 0.89);
    color: rgba(255, 68, 0, 0.651);
    position: absolute;
    left: 33%;
    font-size: 20px;

    border-radius: 10px;
    border-color: rgba(8, 8, 8, 0.938);
    font-weight: bold;
    padding: 7px 30px 7px 30px;
    margin-right: 66px;
    margin-left: 2px;
    margin-top: 30px;
}

.botao-login{
    background-color: rgba(8, 8, 8, 0.966);
    color: rgba(255, 68, 0, 0.651);
    font-size: 20px;

    border-radius: 10px;
    border-color: rgba(8, 8, 8, 0.938);
    font-weight: bold;
    padding: 3px 20px 3px 20px;
    margin-top: 30px; 
}
